{% extends "base.html" %}
{% load static %}

{% block content %}

<div class='text-center btn-list_mia'>
  <a href='#' class="btn btn-lg btn-secondary" id="scendi">Vai agli esercizi</a>
</div>

<div class="container teoria">
  <h2>Parte teorica</h2>

  <p> {{ teoria.teoria | safe | linebreaks}} </p>

  <div class='lista-immagini'>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">  
    {% for imag in teoria.immagini.all %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <a data-fancybox='gallery' href='{{ imag.image.url }}'><img src='{{ imag.image.url }}'></a>
            <span>{{ imag.didascalia | safe}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

</div>




<div class="container" id='esercizi'>
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">  
    {% for esercizio in esercizi %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <a href="/{{ esercizio.id }}/{{ esercizio.slug }}/">
              <h5 class='card-title'>{{esercizio.title}}</h5>
            </a>
            <p class="card-text">{{esercizio.text|safe|linebreaks|truncatewords_html:10}}</p>
          </div>
          <div class="card-footer">
            <span class="date">{{esercizio.date}}</span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



<div class="pagination">
    <span class="step-links">
        <nav aria-label="Navigate thought pages">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1"> &laquo; Prima</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Precedente</a></li>
                {% endif %}
                
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                {% endif %}

                {% if page_obj.has_next %}    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Successiva</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Ultima &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        
    </span>
</div>


<script>

$(function() {
  $('#scendi').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $('#esercizi').offset().top
    }, 300);
  });
});

</script>

{% endblock content %}
