{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="esercizio">
  <h2 class="titolo-esercizio">{{object.title}}</h2>

  <h4 class='testo-esercizio'>Testo esercizio:</h4>
  <h5> {{object.text | linebreaks}}</h5>

  {% if object.fig %}
  <img src='{{object.fig.url}}'>
  {% endif %}

  <a class="btn btn-primary" onclick="mostraRisultati(this)">Mostra Risultati</a>

  <div id="result">
    <h4 class="paragrafo"> Risoluzione </h4>

    {% if object.strutture %}
    <a data-fancybox='gallery' href='{{object.strutture.url}}'><img src='{{object.strutture.url}}'></a>
    {% endif %}

    {% if object.meccanismo %}
    <a data-fancybox='gallery' href='{{object.meccanismo.url}}'><img src='{{object.meccanismo.url}}'></a>
    {% endif %}

    {% if object.grafico %}
    <a data-fancybox='gallery' href='{{object.grafico.url}}'><img src='{{object.grafico.url}}'></a> <!-- matematica, se c'è -->
    {% endif %}

    {% if object.risoluzione %}
    <span>{{object.risoluzione | safe | linebreaks}}</span> <!-- Chimica generale e fisica -->
    {% endif %}

    <h4 class="paragrafo"> Commenti</h4>

    {% if object.commento %}
    <span>{{object.commento | safe | linebreaks}}</span>
    {% endif %}

    <h4 class="paragrafo"> Risultati </h4>

    {% if object.risultato %}
    <span>{{object.risultato | safe | linebreaks}}</span> <!-- Chimica generale e fisica -->
    {% endif %}
  </div>

  <p class="ref">Esercizio preso da: {{object.referance | safe}}</span>

  <p class="ref">Esercizio caricato: {{object.date}}</span>
</div>

<script>

function mostraRisultati (el) {
  $('#result').slideToggle();
  $(el).hide();
}

</script>

{% endblock content %}